body {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    background-image: url("background1.png");
    background-attachment: fixed;
    background-size: auto auto;
    background-position: 0% 0%;
    background-color: var(--primary-shadow);
    font-weight: 500;
    overflow-x:hidden
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.skill {
    height: 16rem;
    width: 25%; 
    position: absolute;
    top: 4rem;
    transition: all 0.5s;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    --text-color: var(--text-dark);
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: inset 0 0 50px #888888, 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.5);
}

.skillHeader {
    box-shadow: 0px 2px var(--primary-color);
    font-size: 2.0em;
}

.skillContent {
    font-size: 1em;
    font-weight: 500;
    padding: 5%;
    flex:1;
}

.skillContent > ul {
    padding-left: 10%;
}

.skillContent > ul > li {
    text-align: start;
}

.skill-active {
    height: 22rem;
    width: 45%;
    z-index: 3;
    left: 27.5%;
    top: 1rem;
}

.skill-inactive {
    left: 37.5%;
    z-index: 0;
    font-size: 0.4rem;
}

.skill-right {
    left: 0%;
    font-size: 0.4rem;
    z-index: 2;
}

.skill-left {
    left: 75%;
    font-size: 0.4rem;
    z-index: 1;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(237, 237, 237, 0.9);
    --text-color: var(--text-dark);
    color: var(--text-color);
    margin-top: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 4rem;
    width: 100%;
    max-width: 1440px;
}

.section-odd {
    --text-color: var(--text-light);
    background-color: var(--bg-dark);
}

.sectionHeader {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0px 2px var(--text-color);
    margin-bottom: 2rem;
}

.sectionContent {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .sectionContent {
        flex-direction: column;
    }

    #skillContent {
        flex-direction: row;
    }

    .skill {
        width: 100%;
        left: 0%;
    }

    .skill-right {
        left: 0%;
        z-index: 0;
    }

    .skill-left {
        left: 0%;
        z-index: 0;
    }

    .skill-inactive {
        left: 0%;
    }

}

.project-collapsed > .projectContent {
    display: none;
}

.project-collapsed > .projectPreview {
    display: block;
}

.project-collapsed > .closeButton {
    display: none;
}

.closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: none;
    background: none;
}

.closeButton:hover {
    box-shadow: inset 0 0 50px #888888;
}

.closeButton:focus {
    outline: none;
}

.projectPreview {
    display: none;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin: auto;
    margin-top: 1rem;
}

#projectsContent {
    flex-wrap: wrap;
    text-align: center;
}

.project {
    width: 100%;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.5);
    margin-bottom: 2rem;
    padding: 1rem;
    transition: all 0.5s;
    position: relative;
    flex-grow: 2;
}

.project-collapsed {
    width: 15rem;
    flex-grow: 0;
}
.project-collapsed:hover {
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.5);
    cursor: pointer;
}

.projectHeader {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.projectCat {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: var(--text-muted);
}

.projectContent {
    padding-top: 1rem;
}

.inlineLink {
    color: var(--primary-color);
}

.galleryHeader {
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.projectContentGallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titleImgBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    width: 10rem;
    
    transition: all 0.5s;
}

.titleImgBox > img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    margin: auto;
}

.titleImgBox > span {
    visibility: hidden;
}

.titleImgBox:hover {
    width: 12rem;
    /* height: 12rem; */
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.5);
}

.titleImgBox:hover > span {
    visibility: visible;
}

.githubLink {
    display: inline-block;
    box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.5);
    padding: 0.25rem;
    border-radius: 5px;
}

.githubLink:hover {
    display: inline-block;
    box-shadow: 1px 1px 1px 1px rgba(0.1, 0.1, 0.1, 0.5);
    padding: 0.25rem;
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
}
.githubLink > i {
    color: var(--primary-color);
}

#sections {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--shadow-rgba);
    box-shadow: inset 0px 5rem 5rem #000000;
}

#portrait {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 35%;
    border: 2px var(--primary-color) solid;
    margin-left: auto;
    margin-right: auto;
}

#aboutMeContent {
    margin-top: 0rem;
}

#aboutMeWords {
    width: 100%;
    max-width: 900px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#aboutMeWords > h4 {
    margin-top: 1rem;
}

#skills {
    background-color: var(--bg-dark);
}

#skillContent > button {
    color: var(--primary-color);
    border: none;
    width: 10%;
    background: none;
    height: 24rem;
}

#skillContent > button:hover {
    font-size: 1.4rem;
}
#skillContent > button:focus {
    outline: none;
}

#skillsCarousel {
    display: block;
    position: absolute;
    height: 24rem;
    width: calc((80% - 2rem) * 0.80);
    max-width: 700px;
}

#skillsCarouselBlock {
    width: 80%;
    max-width: 700px;
    position: relative;
}

#navbar {
    justify-content: flex-end;
    right: 1rem;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    height: 4%;
    z-index: 2;
}

#home {
    color: var(--text-light);
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.centerBox {
    display: flex;
    justify-content: center;
}

.toFrontLabel {
    z-index: 2;
    display: inline-block;
}

.documentPreview {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    padding: 1rem;
    background-color: var(--section-bg);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0.1, 0.1, 0.1, 0.5);
    margin: auto;
    text-align: center;
    --text-color: var(--text-dark);
    color: var(--text-color);
    transition: all 0.5s;
}

.documentPreview:hover {
    box-shadow: 5px 5px 5px 5px rgba(0.1, 0.1, 0.1, 0.7);
    width: 400px;
}

.documentPreview > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    flex-grow: 1;
    margin-bottom: 1rem;
}

#resumeContent {
    min-height: 25rem;
}

.hidden {
    display: none;
}

#contactMessage {
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
}

#contactForm {
    width: 100%;
}

#contactForm > input{
    border: none;
    margin-bottom: 1rem;
}

#nameForm {
    margin-right: 1rem;
}

#emailForm {
    width: 100%;
    max-width: 25rem;
}

#messageForm {
    width: 100%;
    border: none;
}

#sendButton {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--text-light);
}

:root {
    --text-light:#ffffff;
    --text-color: var(--text-light);
    --text-dark: #424242;
    --text-muted: #6c757d;
    --link-hover: blue;
    --bg-color: #ffffff;
    --bg-dark: rgba(15, 16, 23, 0.7);
    --primary-color:#007CC7;
    --section-bg: rgba(237, 237, 237, 0.9); 
    --secondary-color: #12232E;
    --shadow-rgba: rgba(32, 54, 71, 0.7);
    --accent-color: #4DA8DA;
    --primary-shadow: #203647;
    --secondary-shadow: #EEFBFB;
}

html {
    scroll-behavior: smooth;
  }